.services_head {
  font-weight: 900;
  font-size: 300%;
  text-align: left;
  color: white;
  margin-top: 5%;
  padding: 3%;
}

.row {
  margin: 10px;
  background-color: blue;
  height: 100vh;
  width: 100%;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 50px;
  height: 300px; /* Should be removed. Only for demonstration */
  color: aliceblue;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
